## Data Cleaning Steps
1. concatenate data
2. drop NaN value(s),
3. drop duplicate values (only have uniques)
4. equalize the parameter sets

In [58]:
import pandas as pd

In [59]:
df1 = pd.read_csv('../data/Joseph_scrape.csv')
df2 = pd.read_csv('../data/win_scrape')
df3 = pd.read_csv('../data/win_scrape2')
df4 = pd.read_csv('../data/New_scrape.csv')
df6 = pd.read_csv('../data/Nica_scrape.csv')
df7 = pd.read_csv('../data/Nica_scrape.csv')
df8 = pd.read_csv('../data/ds_scrape')
df9 = pd.read_csv('../data/Nica_scrape1.csv')
df10 = pd.read_csv('../data/fa_scrape')
df11 = pd.read_csv('../data/chem_scrape')

In [60]:
df = pd.concat([df1,df2,df3,df4,df6,df7,df8,df9,df9,df10,df11,])

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10268 entries, 0 to 81
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      10268 non-null  object
 1   job_title     10268 non-null  object
 2   job_desc      1977 non-null   object
 3   Unnamed: 0    9031 non-null   float64
 4   Unnamed: 0.1  82 non-null     float64
dtypes: float64(2), object(3)
memory usage: 481.3+ KB

In [62]:
df=df.drop(columns = ["location","Unnamed: 0", "Unnamed: 0.1"])
df = df.dropna()

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1977 entries, 0 to 81
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_title  1977 non-null   object
 1   job_desc   1977 non-null   object
dtypes: object(2)
memory usage: 46.3+ KB

In [64]:
df['job_title'].value_counts()

financial+analyst    482
data+scientist       371
physician            325
underwriter          299
chemical+engineer    252
recruiter            248
Name: job_title, dtype: int64

In [65]:
df = df.drop_duplicates(subset=['job_desc'])
df['job_title'].value_counts()

financial+analyst    342
physician            261
recruiter            209
underwriter          192
chemical+engineer    180
data+scientist       170
Name: job_title, dtype: int64

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1354 entries, 0 to 79
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_title  1354 non-null   object
 1   job_desc   1354 non-null   object
dtypes: object(2)
memory usage: 31.7+ KB

In [67]:
df.to_csv('Cleaned_Job_desc_data')

In [45]:
df = pd.read_csv('../data/Cleaned_Job_desc_data',index_col=0)
df.head()
df.tail()
#Disparity / Class Balance Check
df['job_title'].value_counts()

financial+analyst    482
data+scientist       371
physician            325
underwriter          299
chemical+engineer    252
recruiter            248
Name: job_title, dtype: int64

In [47]:
df = df.loc[df.duplicated(keep='first')]

In [104]:
df = pd.read_csv('../data/Cleaned_Job_desc_data',index_col=0)
df.head()
df.tail()
#Disparity / Class Balance Check
df['job_title'].value_counts()

financial+analyst    342
physician            261
recruiter            209
underwriter          192
chemical+engineer    180
data+scientist       170
Name: job_title, dtype: int64

In [117]:
df2 = pd.read_csv('../data/uw_2_scrape')
df3 = pd.read_csv('../data/ds_2_scrape')
df4 = pd.read_csv('../data/chem_2_scrape')

In [118]:
df3['job_desc'][5].replace("\n"," ")

'At Houston Methodist, the Data Scientist position is responsible for addressing the best uses of data science and informatics development for providing a competitive advantage or addressing pressing clinical or business problems in Houston Methodist Hospital (HMH) and Houston Methodist Academic Institute (HMAI) operations and care, as well as to communicate informed conclusions and recommendations across an organizationâ€™s leadership structure. The data scientist will review clinical and research data so as to understand and report on the needs surrounding clinical, financial, operational, population health, social, behavior, and marketing data. Works closely with physicians, care givers, hospital staff, administrators, and other stakeholders to implement projects of clinical and business benefits. Requirements: PRIMARY JOB RESPONSIBILITIES Job responsibilities labeled EF capture those duties that are essential functions of the job. PEOPLE - 15% Maintains client relationships as assigned and leads the delivery of innovative strategies and solutions. (EF) Presents project progress and results to key stakeholders. (EF) Partners in collaboration with leadership of the service lines/specialty areas to promote staff accountability and effective decision-making. (EF) SERVICE - 35% Analyzes health care data using basic and advanced statistical methodologies; interprets results for investigators and prepares reports. (EF) Drives data analytical insight across the organization. (EF) Identifies data elements within the clinical/health/research databases for analytics and decision support. (EF) Maintains database results by setting and enforcing standards and controls. Makes revisions to data entry screens and data checks; reviewes and resolves data discrepencies. (EF) Translates finding into implementable informatic solutions with the clinicians, hospital and research administration or other key stakeholders. (EF) QUALITY/SAFETY - 20% Responsible for accuracy and timeliness of data input into reports and decisions. (EF) Identifies and correct flaws in interpretation of results, inconsistency in presentation or inference. (EF) FINANCE - 10% Uses department resources/equipment/supplies properly and efficiently. (EF) Manages the continuous improvement of clinical, research, and operational data and analytics. (EF) GROWTH/INNOVATION - 20% Seeks opportunities to expand learning beyond baseline competencies with a focus on continual process improvements. (EF) Assumes responsibility for self-growth and development by participating in in-service programs and continuing education. (EF) Consults with hospital and research staff regarding process improvement, delivery of best outcomes, decision supports, data insights, and recommendations. (EF) This job description is not intended to be all inclusive; the employee will also perform other reasonably related business/job duties as assigned. Houston Methodist reserves the right to revise job duties and responsibilities as the need arises. Qualifications: EDUCATION REQUIREMENTS o Masterâ€™s Degree in Computer Science, Clinical Informatics, Public Health Administration, Business Administration, or Engineering or MD with experience in Computing, Informatics, and Statistics EXPERIENCE REQUIREMENTS o Four years of experience in data analytics and/or database management in a healthcare organization  CERTIFICATIONS, LICENSES AND REGISTRATIONS REQUIRED o None  KNOWLEDGE, SKILLS AND ABILITIES REQUIRED o Demonstrates the skills and competencies necessary to safely perform the assigned job, determined through on-going skills, competency assessments, and performance evaluations o Sufficient proficiency in speaking, reading, and writing the English language necessary to perform the essential functions of this job, especially with regard to activities impacting patient or employee safety or security o Ability to effectively communicate with patients, physicians, family members and co-workers in a manner consistent with a customer service focus and application of positive language principles o Experience in clinical, research, and or healthcare administration o Skilled in statistical, database, and algorithm modeling preferred o Skilled with implementing and managing Health IT software, prototyping and applications o Knowledge of process mapping and analytics o Knowledge of clinical/health data integration in a health care IT environment o Ability to perform exploratory data analysis o Ability to communicate complicated, technical concepts to non-technical stakeholders SUPPLEMENTAL REQUIREMENTS Work Attire Yes/No Uniform No Scrubs No Business professional Yes Other (dept approved) No On-Call* No Note that employees may be required to be on-call during emergencies (ie. Disaster, Severe Weather Event, etc) regardless of selection above. Travel** May require travel within No Houston Metropolitan area May require travel outside No of Houston Metropolitan area **Travel specifications may vary by department. Please note any other special considerations to this job: __________________________ Company Profile: Houston Methodist Specialty Physician Group is comprised of more than 500 doctors committed to delivering personalized, patient-focused care to the Houston community and beyond. Our priority is to make sure every patient is heard and supported throughout his or her experience with us. Patients who choose the specialty physician group also benefit from our coordinated-care approach, which places a wealth of highly qualified specialists and resources at their service, all committed to the high standard of care patients have come to expect from Houston Methodist. APPLY'

In [116]:
df2['job_title'].value_counts()
df2

,Unnamed: 0,location,job_title,job_desc
0,0,Houston,physician,Texas Childrenâ€™s Urgent Care offers high-quali...
1,1,Houston,physician,Location:\nHouston Methodist Specialty Physici...
2,2,Houston,physician,"At Houston Methodist, the Physician Assistant ..."
3,3,Houston,physician,A career with the U.S. Government provides emp...
4,4,Houston,physician,Location:\nHouston Methodist Specialty Physici...
...,...,...,...,...
646,646,Charlotte,physician,NaN
647,647,Charlotte,physician,NaN
648,648,Charlotte,physician,Dynamic Neonatologist opportunity just south o...
649,649,Charlotte,physician,Overview:\n\nOncology Physician opportunities ...
650,650,Charlotte,physician,Job Description\n\nThriveworks is seeking a Su...

In [107]:
df = pd.concat([df,df1,df2,df3,df4])

In [108]:
df['job_title'].value_counts()

physician            912
data+scientist       516
chemical+engineer    478
financial+analyst    342
recruiter            209
underwriter          192
Name: job_title, dtype: int64

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2649 entries, 0 to 297
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       2649 non-null   object
 1   job_desc        2477 non-null   object
 2   Unnamed: 0      1295 non-null   float64
 3   Unnamed: 0.1    644 non-null    float64
 4   location        1295 non-null   object
 5   Unnamed: 0.1.1  471 non-null    float64
dtypes: float64(3), object(3)
memory usage: 144.9+ KB

In [110]:
df=df.drop(columns = ["location","Unnamed: 0", "Unnamed: 0.1","Unnamed: 0.1.1"])
df = df.dropna()

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2477 entries, 0 to 297
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_title  2477 non-null   object
 1   job_desc   2477 non-null   object
dtypes: object(2)
memory usage: 58.1+ KB

In [112]:
df['job_title'].value_counts()

physician            740
data+scientist       516
chemical+engineer    478
financial+analyst    342
recruiter            209
underwriter          192
Name: job_title, dtype: int64

In [113]:
df = df.drop_duplicates(subset=['job_desc'])
df['job_title'].value_counts()

physician            598
chemical+engineer    365
financial+analyst    342
data+scientist       299
recruiter            209
underwriter          192
Name: job_title, dtype: int64

In [151]:
new_df1 = pd.read_csv('../data/newscrape_ds_1')
new_df2 = pd.read_csv('../data/newscrape_fa_1')
new_df3 = pd.read_csv('../data/newscrape_uw_ce_1')
new_df4 = pd.read_csv('../data/newscrape_ph_ur_1')
new_df5 = pd.read_csv('../data/newscrape_fa_rc_2')
new_df6 = pd.read_csv('../data/newscrape_ds_2')
old_df = pd.read_csv('../data/Cleaned_Job_desc_data')

In [152]:
new_df = pd.concat([new_df1,new_df2,new_df3,new_df4,new_df5,new_df6,old_df])

In [153]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13142 entries, 0 to 1353
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      13142 non-null  int64
 1   Unnamed: 0.1    11228 non-null  float64
 2   location        11788 non-null  object
 3   job_title       13142 non-null  object
 4   url             11788 non-null  object
 5   job_desc        10409 non-null  object
 6   Unnamed: 0.1.1  2431 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 821.4+ KB

In [154]:
new_df['job_title'].value_counts()

financial+analyst       3617
data+scientist          2748
physician               1723
underwriter             1595
recruiter               1517
chemical+engineer       1208
university+recruiter     734
Name: job_title, dtype: int64

In [155]:
new_df=new_df.drop(columns = ["location","Unnamed: 0", "Unnamed: 0.1","Unnamed: 0.1.1"])
new_df = new_df.dropna()

In [156]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9055 entries, 0 to 2041
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_title  9055 non-null   object
 1   url        9055 non-null   object
 2   job_desc   9055 non-null   object
dtypes: object(3)
memory usage: 283.0+ KB

In [157]:
new_df['job_title'].value_counts()

data+scientist          1597
financial+analyst       1523
physician               1462
underwriter             1403
recruiter               1308
chemical+engineer       1028
university+recruiter     734
Name: job_title, dtype: int64

In [158]:

df.to_csv('Job_descriptions')