## Data Cleaning Steps
1. concatenate data
2. drop NaN value(s),
3. drop duplicate values (only have uniques)
4. equalize the parameter sets

In [26]:
import pandas as pd

In [38]:
df1 = pd.read_csv('../data/Joseph_scrape.csv')
df2 = pd.read_csv('../data/win_scrape')
df3 = pd.read_csv('../data/win_scrape2')
df4 = pd.read_csv('../data/New_scrape.csv')
df6 = pd.read_csv('../data/Nica_scrape.csv')
df7 = pd.read_csv('../data/Nica_scrape.csv')
df8 = pd.read_csv('../data/ds_scrape')
df9 = pd.read_csv('../data/Nica_scrape1.csv')
df10 = pd.read_csv('../data/fa_scrape')
df11 = pd.read_csv('../data/chem_scrape')

In [39]:
df = pd.concat([df1,df2,df3,df4,df6,df7,df8,df9,df9,df10,df11,])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10268 entries, 0 to 81
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      10268 non-null  object
 1   job_title     10268 non-null  object
 2   job_desc      1977 non-null   object
 3   Unnamed: 0    9031 non-null   float64
 4   Unnamed: 0.1  82 non-null     float64
dtypes: float64(2), object(3)
memory usage: 481.3+ KB

In [41]:
df=df.drop(columns = ["location","Unnamed: 0", "Unnamed: 0.1"])
df = df.dropna()

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1977 entries, 0 to 81
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_title  1977 non-null   object
 1   job_desc   1977 non-null   object
dtypes: object(2)
memory usage: 46.3+ KB

In [44]:
df.to_csv('Cleaned_Job_desc_data')